@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-950 text-gray-100 antialiased;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800 rounded;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded hover:bg-gray-500;
}
